.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPageTitle {
    margin: 20px;
    font-size: 24px;
    font-weight: 800;
}

.bookBtnContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.bookBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.bookCover {
    width: 20vw;
}


.playContents {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.bookContainer {
    display: flex;
}