.navbar {
  width: 100vw;
  z-index: 1;
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
}

.tools {
  margin-left: 20px;
  margin-right: 30vw;
}

.cursorIcon {
  height: 18px;
  margin-right: 20px;
}

.penIcon {
  height: 18px;
}
